<body>
    <link rel="stylesheet" href="css/containers/card container.css" type="text/css"/>
    
    <div class="flex-container">
    <div class="flex-item">
        <div class="thumbnail" >
            <img src="/imgs/muscular_ori_sx.svg" style="object-position: 0px 0px; width: 200px; height: auto;" alt="Image" />
        </div>
        <div class="controls">
            <p class="likes">+15</p>
            <p class="dislikes">-5</p>
        </div>
    </div>
    <div class="flex-item">
        <div class="thumbnail">
            <img src="/imgs/ori_ai_Cr.svg" style="object-position: 0px 0px; width: 200px; height: auto;" alt="Image" />
        </div>
        <div class="controls">
            <p class="likes">+15</p>
            <p class="dislikes">-5</p>
        </div>
    </div>
    <div class="flex-item">
        <div class="thumbnail">
            <img src="/imgs/or.svg" style="object-position: 0px 0px; width: 200px; height: auto;" alt="Image" />
        </div>
        <div class="controls">
            <p class="likes">+15</p>
            <p class="dislikes">-5</p>
        </div>
    </div>
    <div class="flex-item">
        <div class="thumbnail">
            <img src="/imgs/ori_ico1.svg" style="object-position: 0px 0px; width: 200px; height: auto;" alt="Image" />
        </div>
        <div class="controls">
            <p class="likes">+15</p>
            <p class="dislikes">-5</p>
        </div>
    </div>
    </div>
</div>
</body>