<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="image/favicon" rel="shortcut icon" href="/imgs/ori_ico1.svg">
  <link rel="stylesheet" href="/css/vars.css" type="text/css" />
  <link rel="stylesheet" href="/css/test.css" type="text/css" />
  <link rel="stylesheet" href="/css/containers/container.css" type="text/css" />
  <link rel="stylesheet" href="/css/containers/tag container.css" type="text/css" />
  <link rel="stylesheet" href="/css/containers/card container.css" type="text/css" />
  <title>{{documentName}}</title>
</head>

<body>
  <div class="page-container">
    <div class="header">
      <a class="logo" href="/">
        <img src="/imgs/ori_ico1.svg" alt="Logo">
        <span>artX</span>
      </a>
      <div><a class="adv-image" id="advertisement-image-top-a" style="width:500px;" href="" alt="" target="_blank"
          title="" border="0">
          <img id="advertisement-image-top" src="" alt="Advertisement"></a>
        <script src="/js/get-random-adv.js"></script>
      </div>
      <div class="user">
        <a href="/user/login">
          <span>{{userName}}</span>
        </a>
        {{#if isAuthenticated}}
        <button class="menu-button">
          <img src="/imgs/settings.svg" width="24px">
        </button>
        <div class="dropdown-menu hidden">
          <a href="/user/settings">
            <div class="menu-item"><span>настройки</span></div>
          </a>
          <a href="/post/upload">
            <div class="menu-item"><span>загрузить</span></div>
          </a>
          <button id="user-exit" class="menu-item">выйти</button>
        </div>
        <script src="/js/elements/header.js"></script>
        {{/if}}
      </div>
    </div>

    <div class="main-content">
      <div class="search_container">
        <link rel="stylesheet" href="/css/elements/switch.css" type="text/css" />
        <div class="tag-container-wrapper" style="position: relative;">
          <input type="search" placeholder="Добавить тег..." class="tag-input" id="tag-input"
            oninput="searchTags(event)" onkeydown="navigateDropdown(event)" />
          <div id="tag-dropdown" class="tag-dropdown"></div>
        </div>
        <div class="button-container" style="width:100%;">
          <button onclick="startSearch()">search</button>
          <button onclick="removeTags()">X</button>
        </div>
        сортировка по:
        <select id="menu">
          <option id="0">возврастанию</option>
          <option id="1">убыванию</option>
        </select><br>
        страница: <input id="pageNumber" type="number" min="0" value="0" style="width:5vh;">
        <div class="pages" id="pages"></div>
        теги:
        <div id="tag-list" class="tag-container" style="border: none;"></div>
      </div>
      <div class="content">
        {{!-- {{> (lookup . "pageContent") }} --}}
        <div id="item-container" class="card-container"></div>
        <script src="/js/get-simple-image-data.js"></script>
      </div>
    </div>
    <footer class="footer">
      <div class="footer-item">
        <img src="/imgs/author-icon.svg" alt="Автор" class="footer-icon">
        <span>Емельяненко Савелий</span>
      </div>
      <div class="footer-item">
        <img src="/imgs/ori_ico1.svg" alt="Email" class="footer-icon">
        <a href="mailto:ivan.ivanov@example.com">Sovergon15@gmail.com</a>
      </div>
      <div class="footer-item">
        <img src="/imgs/about-icon.svg" alt="О проекте" class="footer-icon">
        <a href="/about">О проекте</a>
      </div>
    </footer>
  </div>
  <script>
    let selectedTags = [];
    let dropdownIndex = -1;

    async function searchTags(event) {
      const query = event.target.value.trim();
      const dropdown = document.getElementById("tag-dropdown");
      //if(dropdown.style.display == "none"){

      //}
      if (!query) {
        dropdown.style.display = "none";
        dropdown.innerHTML = '';
        event.target.style.removeProperty("border-bottom-left-radius");
        event.target.style.removeProperty("border-bottom-right-radius");
        return;
      }

      const response = await fetch(`/image/tags/search?q=${query}`);
      const results = await response.json();

      if (results.length === 0) {
        dropdown.style.display = "none";
        dropdown.innerHTML = '';
        event.target.style.removeProperty("border-bottom-left-radius");
        event.target.style.removeProperty("border-bottom-right-radius");
        return;
      }

      dropdown.style.display = "block";
      dropdown.innerHTML = results
        .map((tag, index) => `<div data-index="${index}" onclick="selectTag('${tag.id}', '${tag.name}')">${tag.name}</div>`)
        .join('');

      event.target.style["border-bottom-left-radius"] = "0px"
      event.target.style["border-bottom-right-radius"] = "0px"
      dropdownIndex = -1; // Reset index
    }

    function navigateDropdown(event) {
      const dropdown = document.getElementById("tag-dropdown");
      const items = dropdown.querySelectorAll('div');

      if (items.length === 0) return;

      if (event.key === "ArrowDown") {
        dropdownIndex = (dropdownIndex + 1) % items.length;
        updateActiveItem(items);
      } else if (event.key === "ArrowUp") {
        dropdownIndex = (dropdownIndex - 1 + items.length) % items.length;
        updateActiveItem(items);
      } else if (event.key === "Enter" && dropdownIndex >= 0) {
        items[dropdownIndex].click();
      }
    }

    function updateActiveItem(items) {
      items.forEach((item, index) => {
        item.classList.toggle('active', index === dropdownIndex);
      });
    }

    function selectTag(tagId, tagName) {
      if (selectedTags.includes(tagId)) return;

      selectedTags.push(tagId);

      const tagList = document.getElementById("tag-list");
      const newTag = document.createElement("div");
      newTag.className = "tag";
      newTag.id = `tag-id-${tagId}`;
      newTag.innerHTML = `
      <label class="switch">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
        ${tagName} <span class="close" onclick="removeTag('${tagId}')">&times;</span>`;
      tagList.appendChild(newTag);

      document.getElementById("tag-dropdown").style.display = "none";
      const tagInput = document.getElementById("tag-input");
      tagInput.value = '';
      tagInput.style.removeProperty("border-bottom-left-radius");
      tagInput.style.removeProperty("border-bottom-right-radius");
    }

    function removeTag(tagId) {
      selectedTags = selectedTags.filter(tag => tag !== tagId);

      const tagList = document.getElementById("tag-list");
      const tagDiv = document.getElementById(`tag-id-${tagId}`);
      if (tagDiv) tagList.removeChild(tagDiv);
    }
    function removeTags() {
      selectedTags = [];

      const tagList = document.getElementById("tag-list");

      tagList.innerHTML = '';
    }

    function startSearch() {
      const dropdown = document.getElementById('menu'); // Получаем <select> элемент
      const selectedOption = dropdown.options[dropdown.selectedIndex]; // Получаем выбранный <option>
      search(document.getElementById("pageNumber").value, selectedOption.id);
    }
  </script>
</body>

</html>