/* @import '../vars.css'; */
.tag-container {
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: var(--padding-test) 0px;
    display: flex;
    flex-wrap: wrap; /* Позволяет тегам переноситься на новую строку */
    gap: 10px; /* Расстояние между тегами */
    flex:1;
    max-width: 16rem;
    /* width: 100%; */
    /*position:relative; /* Для корректной работы абсолютного позиционирования */
}

.tag {
    background-color: #1e1e1e40; /* Цвет фона тега */
    border-radius: 1rem;
    border: white solid 1px ;
    border-right: 0;
    /*padding-left: 2px; /* Отступ внутри тега*/
    padding-left:3px;
    display: flex;
    gap:0.25rem;
    
    align-items: center; /* Центрируем содержимое по вертикали */
}

.close {

    padding: 0px 7px;
    background-color: #1e1e1e40;
    border-radius: 2rem;
    border: white solid 1px ;
    /*margin-left: 5px; /* Отступ между текстом тега и кнопкой закрытия */
    cursor: pointer; /* Указатель при наведении на кнопку закрытия */
    color: #ff0000; /* Цвет кнопки закрытия */
}

/* Стили для поля ввода типа search */
.tag-input {
    background-color: transparent;
    border: 1px solid #ffffffcc; /* Граница поля ввода */
    border-radius: 3px; /* Скругленные углы */
    padding: 5px 10px; /* Отступ внутри поля ввода */
    outline: none; /* Убираем обводку при фокусе */
    /*flex-grow: 1; /* Позволяет полю ввода занимать оставшееся пространство */
}

.tag-input::placeholder {
    color: #ffffff99; /* Цвет текста плейсхолдера */
}

.tag-dropdown {
    color:var(--main-text-color);
    position: absolute; /* Абсолютное позиционирование */
    top: initial; /* Располагаем ниже поля ввода */
    left: initial; /* Привязываем к левому краю контейнера */
    width: initial; /* Ширина равна ширине поля ввода */
    max-height: 150px; /* Ограничение высоты */
    overflow-y: auto; /* Прокрутка при переполнении */
    border: 1px solid #000000; /* Граница */
    background-color: var(--main-color); /* Фон */
    z-index: 1000; /* Поверх остальных элементов */
    display: none; /* Изначально скрыт */
}

.tag-dropdown div {
    padding: 5px;
    cursor: pointer;
}

.tag-dropdown div:hover {
    background-color: var(--shadow-color);
}
