.tag-input {
    background-color: transparent;
    border: 1px solid #ffffffcc;
    border-radius: var(--border-radius);
    padding: calc(var(--padding-test) / 2) var(--padding-test);
    outline: none;
    width: 100%; /* Занимает всю ширину */
    box-sizing: border-box; /* Учитывает padding */
}

.tag-input::placeholder {
    color: #ffffff99;
}

.tag-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; 
    max-height: 200px;
    overflow-y: auto;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    z-index: 1000;
    display: none; /* По умолчанию скрыт */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
}

.tag-dropdown div {
    padding: 0px 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.tag-dropdown div:hover,
.tag-dropdown div.active {
    /* background-color: #f0f0f0; */
    background-color: var(--shadow-color);
    color: #ffffff; /* Контрастный текст при наведении */
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    /* margin: var(--margin-test) 0px; */
}

.tag {
    background-color: var(--main-color);
    color: var(--main-text-color);
    border-radius: 1.5rem;
    border: white 1px solid;
    display: flex;
    align-items: center;
    gap: 5px;
}
.tag .name{
    padding-right: 5px;
    padding-left: 5px;
}
.close {
    cursor: pointer;
    font-weight: bold;
    color: #ff6666;
    margin-left: 5px;
    padding: 0px 7px;
    background-color: #1e1e1e60;
    border-radius: 1.5rem;
}
